<!DOCTYPE html>
<html>

<head>
    <link rel ="icon" href='img/weather_icon.png' >  
    <link rel="stylesheet" href='/css/styles.css'/>
    <title>Help</title>
</head>
<body>
    <div class='main_content'>
        {{>header}}
       <p>{{helpmessage}}</p>
    </div> 
    {{>footer}}
</body>


</html>